@import "tailwindcss";

@theme {
    --color-primary: #ef233c;
}
html,
body {
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
    color: #1e2939;
}

button {
    cursor: pointer;
}

.headerLinks {
    position: relative;
}
.headerLinks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    border-radius: 10px;
    background-color: black;
    transition: all ease 0.5s;
}

.headerLinks:hover::after {
    width: 100%;
}

.boxedContainer {
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 82rem;
    margin-left: auto;
    margin-right: auto;
}

/* Home Page Slider */
#slider-button::before {
    content: " ";
    border-radius: 100%;
    background-color: black;
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    scale: 0;
}

#slider-button:hover {
    scale: 1;
}

#ShopByCategorySlider {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#ShopByCategorySlider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer Edge */
}
#searchItemsContainer {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#searchItemsContainer::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and newer Edge */
}

/* Search Container */
#searchContainer::before {
    content: "";

    height: 100vh;
    background-color: #101828;
    z-index: 20;
    position: absolute;
    right: 0;
}
