@import "tailwindcss";

.headerLinks {
    position: relative;
}
.headerLinks::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0%;
    height: 1px;
    border-radius: 10px;
    background-color: black;
    transition: all ease 0.5s;
}

.headerLinks:hover::after {
    width: 100%;
}
